body {
  padding: 2rem;
}

#license-raw-content {
  max-height: 500px;
}

.copy {
  cursor: pointer;
}

.copy:hover {
  text-shadow: 0 0 2px;
}

.dropdown-menu {
  --bs-dropdown-padding-x: 0.25rem;
  --bs-dropdown-padding-y: 0.25rem;
  --bs-dropdown-font-size: 0.875rem;
}

.dropdown .bi {
  width: 1em;
  height: 1em;
}

svg path {
  --bs-text-opacity: 1;
  fill: rgba(var(--bs-body-color-rgb), var(--bs-text-opacity)) !important;
}

#license-curl {
  word-break: break-all;
}

.copy::before {
  margin-right: 0.5em;
}
